<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>手机充值后台管理说明文档</title>
    <script src="/node_modules/marked/lib/marked.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div id="content"></div>
<script>
    document.getElementById('content').innerHTML = marked('<%- doc%>');
</script>
</body>
</html>